# Supabase Configuration
VITE_SUPABASE_URL=https://rcxpnlaldmzzmktrrhke.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjeHBubGFsZG16em1rdHJyaGtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4NTU4OTUsImV4cCI6MjEwMTQzMTg5NX0.yn-l_pEvLdVHczOKqi9DRjlyx64T7keTJ0GutFqfvD0
